<div class="oj-flex oj-flex-items-pad">
    <div  class="oj-flex-item">
        <button id="PreviousStep" type="button"
          style="display:inline-block;vertical-align:top;"
          data-bind="click: back, 
            ojComponent: {component: 'ojButton', 
              label: 'Back',
              icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}">
        </button>
        <h1 data-bind="text: title"></h1>
    </div>
    <div  class="oj-flex-item  oj-sm-12 oj-md-12 oj-lg-12">
        <div id="tabs-container">
            <div id="engagementTabs" data-bind="ojComponent:{component: 'ojTabs',orientation: 'vertical'}">
                <!-- tab bar -->
                <ul data-bind="foreach: series">
                    <li><span data-bind="css: $parent.tabImages()[$index()]" role="img">
                  </span> <span class="oj-sm-only-hide" data-bind="text: title"></span></li>
                </ul>
                <!-- tab contents -->
                <!-- ko foreach: { data: $data['series'] } -->
                <div data-bind="attr: { id: 'tabs-' + ($index()+1)}">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-sm-12 oj-md-12 oj-lg-12 oj-flex-item">
                            <div class="oj-flex oj-flex-items-pad">
                                <ul id="listviewcard" class="oj-flex oj-listview-card-layout" data-bind="ojComponent: {component: 'ojListView',
                                        rootAttributes: {style: 'width:100%'}}">
                                    <li class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">About:</h2>
                                                    <div class="engagament-description" data-bind="text: about"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 oj-xl-6" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">What is this event about?</h2>
                                                    <ul data-bind="foreach: focus">
                                                        <li data-bind="text: $data"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 oj-xl-6" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">Services Included:</h2>
                                                    <ul data-bind="foreach: services">
                                                        <li data-bind="text: $data"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">Sample Agenda</h2>
                                                    <table id="table" summary="Task List" aria-label="Tasks Table"
                                                        data-bind="ojComponent: 
                                                        {
                                                            component: 'ojTable',
                                                            data: agendaDS,
                                                            display: 'grid',
                                                            columnsDefault: {sortable: 'none'}, 
                                                            columns:
                                                                [{headerText: '',field: 'title'},
                                                                {headerText: 'Start',field: 'start'},
                                                                {headerText: 'End',field: 'end'}]
                                                        }">
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">Organizing Such an Event:</h2>
                                                    <div class="engagament-description" data-bind="text: organizing"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 oj-xl-6" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">Collateral:</h2>
                                                    <ul data-bind="foreach: collateral">
                                                        <li><span data-bind="text: title"></span>&nbsp;<a target="_blank" data-bind="attr: { href: link}">[Link]</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 oj-xl-6" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">Target:</h2>
                                                    <div data-bind="foreach: target">
                                                        <h3 data-bind="text: title"></h3>
                                                        <ul data-bind="foreach: details">
                                                            <li data-bind="text: $data"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">Who delivers the workshop?</h2>
                                                    <div class="engagament-description" data-bind="text: delivery"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 oj-xl-6" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">What is needed from YOU:</h2>
                                                    <ul data-bind="foreach: oracleRequirements">
                                                        <li><span data-bind="text: $data"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 oj-xl-6" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">What customers need to bring:</h2>
                                                    <ul data-bind="foreach: customerRequirements">
                                                        <li><span data-bind="text: $data"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12" style="margin:0;border-style:none">
                                        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">
                                            <div class="oj-flex oj-flex-items-pad">
                                                <div class="oj-flex-item">
                                                    <h2 class="engagament-title" aria-label="engagament title">Contacts</h2>
                                                    
                                                      
                                                        <ul id="listviewcard" class="oj-flex oj-listview-card-layout" data-bind="ojComponent: {component: 'ojListView',
                                        rootAttributes: {style: 'width:100%'}}">
                                                            <!-- ko foreach: contacts -->
                                                            <li class="oj-flex-item oj-sm-6 oj-md-6 oj-lg-4 oj-xl-4" style="margin:0;border-style:none">
                                                                <div class="oj-panel demo-tile">
                                                                  <h2 data-bind="text: name"></h2>
                                                                  <h4 data-bind="text: title"></h4>
                                                                    <span role="img" class="demo-icon-sprite demo-icon-mail-closed"></span>
                                                                  <a style="font-weight:bold;" data-bind="attr: { href: 'mailto: ' + email}">Email</a>
                                                                </div>
                                                            </li>
                                                            
                                                            <!-- /ko -->
                                                        </ul>
                                                      
                                                      
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- /ko -->
            </div>
        </div>
    </div>
</div>

