<div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center">
    <div data-bind="css: smScreen() ? 'oj-flex-bar-center-absolute' : 'oj-flex-bar-middle oj-sm-align-items-baseline'"> <span role="img" class="oj-sm-only-hide oj-icon demo-oracle-icon" title="Oracle Logo" alt="Oracle Logo"></span>
        <h1 class="banner-title oj-web-applayout-header-title" title="Application Name" data-bind="text: appName"></h1> </div>
    <div class="oj-flex-bar-end">
        <!-- Responsive Toolbar -->
        <div data-bind="ojComponent: {component:'ojToolbar'}"> </div>
    </div>
</div>